@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #EF5753;
}

/* conatiner  */

.container{
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0rem 1rem;
}


.container-center{
max-width: 650px;
margin: auto;
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{

}